*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
height: 10000px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
  color: #FB2E86;
  font-size: 18px;
}
:root{
    --primary:0D0E43;
}

.container {
    width:100%;
    padding:0 50px;
    max-width: 1400px;
    margin: auto;
}

.header{
    width: 100%;
    position: fixed;
    padding-top: 47px;
    padding-bottom: 35px;
}

.header .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.header ul {
    padding-top: 10px ;
    display: flex;
    gap: 35px;
    background-color: var(--primary);
}
.header .search-form{
    height: 40px;
    border: 2px solid #E7E6EF;
    display: flex;
}
.header input{
    border: 0px;
}
.header button{
    border: 0px;
    width: 51px;
    background-color: #FB2E86;
}
.header button img{
    display: flex;
    margin: auto;
    height: 24px;
    width: 24px;
}
.header .menu{
    display:none;
    padding-top: 10px;
}
@media screen and (min-width:0px) and (max-width:610px) {
    .header .search-form ,
    .header .list {
        display: none;
    }
    .header .menu{
        display:block;
    }
}
@media screen and (min-width:611px) and (max-width:900px) {
    .header .search-form {
        display: none;
    } 
}