*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 10000px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

a:hover {
  color: #FB2E86;
  font-size: 18px;
}
:root{
    --primary:0D0E43;
}

.container {
    width:100%;
    padding:0 50px;
    max-width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header{
    width: 100%;
    position: fixed;
    padding-top: 47px;
    padding-bottom: 35px;
}
.header ul {
    padding-top: 10px ;
    display: flex;
    gap: 35px;
    background-color: var(--primary);
}
.header .search-form{
    height: 40px;
    border: 2px solid #E7E6EF;
    display: flex;
}
.header input{
    border: 0px;
}
.header button{
    border: 0px;
    width: 51px;
    background-color: #FB2E86;
}
.header button img{
    display: flex;
    margin: auto;
    height: 24px;
    width: 24px;
}
.header .menu{
    display:none;
    padding-top: 10px;
}
p{
    color: white;
}

/* Start footer */
.footer{
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: #EEEFFB;
    justify-content: space-around;
}
.footer .logo{
    width: 110px;
    height: 42px;
}

.footer-right-side .search-form{
    margin-top: 34.43px;
    margin-bottom: 27px;
    display: flex;
    height: 43px;
    width: 377px;
    border: 2px solid #E7E6EF;
}
.footer input{
    width: 240px;
    border: 0px;
}
.footer button{
    border: 0px;
    width: 135px;
    background-color: #FB2E86;
    color: #EEEFFB;
    font-family: Roboto;
    font-size: 16px;

}
.Contact-Info{
    padding-top: 11.11px;
}
.Contact-Info p{
    padding-top: 11.11px;
    color: #8A8FB9;
}
ul p{
    color: #8A8FB9;
}
.list .list-address{
    padding-bottom: 43px;
}
.footer .footer-left-side .row .list{
    margin-right: 95px;
}
.footer-left-side .row .list ul li p{
    padding-top: 23px;
}

/* End footer */

@media screen and (min-width:0px) and (max-width:610px) {
    .header .search-form ,
    .header .list {
        display: none;
    }
    .header .menu{
        display:block;
    }
}

@media screen and (min-width:611px) and (max-width:900px) {
    .header .search-form {
        display: none;
    } 
}
@media screen and (min-width:850px) and (max-width:1230px) { 
    .footer .row .footer-right-side  {
        width: 100%;
    } 
    .footer  .footer-left-side {
        margin-top: 50px;
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:849px) { 
    .footer .container .row .footer-left-side  .list {
        width: 100%;
        margin-top: 50px;
    }
}