*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 10000px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
p{
    padding-top: 11.11px;
    color: #8A8FB9;
}
button{ 
    border: 0px;
    background-color: #FB2E86;
    color: #EEEFFB;
    font-family: Josefin Sans;
    font-size: 16px;
} 
a:hover {
  color: #FB2E86;
  font-size: 18px;
}
:root{
    --primary:0D0E43;
}

.container {
    width:100%;
    padding:0 50px;
    max-width: 1400px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* Start header section */
.header{
    padding-top: 47px;
    padding-bottom: 35px;
    position: sticky;
    top: 0;
    background-color: white;
}
.header ul {
    padding-top: 10px ;
    display: flex;
    gap: 35px;
    background-color: var(--primary);
}
.header .search-form{
    height: 40px;
    border: 2px solid #E7E6EF;
    display: flex;
}
.header input{
    border: 0px;
}
.header button{
    border: 0px;
    width: 51px;
    background-color: #FB2E86;
}
.header button img{
    display: flex;
    margin: auto;
    height: 24px;
    width: 24px;
}
.header .menu{
    display:none;
    padding-top: 10px;
}
/* End header section */ 

/* Start hero section */
.hero{
    background-color: #F2F0FF;
    padding-top: 39px;
    padding-bottom: 39px;
}
.hero .hero-rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.hero span{
    color: #FB2E86;
}
.hero h3{
    color: #000000;
    font-family: Josefin Sans;
    font-size: 36px;
}
.hero p{
    padding-bottom: 14px;
}
.hero .hero-leftSide{
    flex: 1; 
}
.hero button{ 
    width: 159px;
    height: 50px;
}
/* End hero section */ 

/* Start featured product section */
.FeaturedProducts {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.FeaturedProducts .container h2{
    font-size: 42px;
    color: var(--primary);
}
.FeaturedProducts .row{
    justify-content: center;
    gap: 29px;
}
.FeaturedProducts .Product {
    margin-top: 48px ;
    box-shadow: 3px 3px 3px 3px  #00000033;
}
.FeaturedProducts .product_img {
    background-color: #F6F7FB;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 236px;
    width: 270px;
}
.FeaturedProducts .product_img .product_icon{
    display: flex;
    gap: 5px;
    position: absolute;
    left: 3px;
    top: 5px; 
    display: none;
}
.FeaturedProducts .hover-btn{
    width: 94px;
    height: 29px;
    background-color: #08D15F;
    display: none;
}
.FeaturedProducts .Product:hover{
    background-color: #2F1AC4;
}
.FeaturedProducts .Product:hover .product_details h2 
,.FeaturedProducts .Product:hover .product_info span{
    color: white; 
}
.FeaturedProducts .Product:hover .product_icon
,.FeaturedProducts .Product:hover .hover-btn{
    display: block;
}
.FeaturedProducts .Product h2{
    font-family: Lato;
    margin-top: 15px;
    margin-bottom: 12px;
    color: #FB2E86;
    font-size: 18px;
}
.product_colors {
    margin-bottom: 12px;
}
.product_colors button{
    border: 0;
    outline: 0;
    border-radius: 10px;
    width:  10px;
    height: 4px;
}
.product_colors .color_navyBlue{
    background-color: #00009D;
}
.product_colors .color_green{
    background-color: #05E6B7;
}
.product_colors .color_Pink{
    background-color: #F701A8;
}
.product_colors .color_yellow{
    background-color: #FFEAC1;
}
.product_info span{
    display: block;
    margin-bottom: 12px;
    font-size: 14px;
    color: #151875;
    font-family: Josefin Sans;
}

.product_info{
    text-align: center;
}
.product_colors{
    text-align: center;
}

/* End featured product section */

/* Start background_img */
.background_img{
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;
    height: 462px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 96px;
    
}
.background_img .background_img_content h2 { 
    color: #151875;
    font-family:Josefin Sans;
    font-size: 35px;
    padding: 10px;
    margin-bottom: 28px;
}
.background_img .background_img_content button{ 
    width: 173px;
    height: 49px;
}
/* End background_img */

/* Start footer */
.footer{
    padding-top: 105px;
    padding-bottom: 105px;
    background-color: #EEEFFB;
    justify-content: space-around;
}
.footer .logo{
    width: 110px;
    height: 42px;
}

.footer-right-side .search-form{
    margin-top: 34.43px;
    margin-bottom: 27px;
    display: flex;
    height: 43px;
    width: 377px;
    border: 2px solid #E7E6EF;
}
.footer input{
    width: 240px;
    border: 0px;
}
.footer button{
    width: 135px;
    font-family: Roboto;
}
.Contact-Info{
    padding-top: 11.11px;
}

.list .list-address{
    padding-bottom: 43px;
}
.footer .footer-left-side .row .list{
    margin-right: 95px;
}
.footer-left-side .row .list ul li p{
    padding-top: 23px;
}
/* End footer */

@media screen and (min-width:0px) and (max-width:610px) {
    .header .search-form ,
    .header .list {
        display: none;
    }
    .header .menu{
        display:block;
    }
}

@media screen and (min-width:611px) and (max-width:900px) {
    .header .search-form {
        display: none;
    } 
}
@media screen and (min-width:850px) and (max-width:1267px) { 
    .FeaturedProducts .row .Product{
        display: block;
        width: 40%;
    }
    .FeaturedProducts .product_img{
        width: 100%;
        margin: auto;
    }
    .footer .container .row .footer-right-side  {
        text-align: center;
        margin: auto;
        display: block;
    }
    .footer .container .row .footer-right-side .logo {
        margin: auto;
    }
    .footer .row .footer-left-side {
        margin-top: 50px;
        width: 100%;
    }
}
@media screen and (min-width:0px) and (max-width:849px) { 
    .footer .container .row .footer-left-side  .list {
        text-align: center;
        justify-content: center;
        width:100%;
        margin:50px auto;
    }
    .list .list-address{
        padding-bottom: 20px;
    }
     .footer .container .row .footer-right-side  {
        text-align: center;
        justify-content: center;
    } 
    .footer .container .row .footer-right-side .logo {
        margin: auto;
    }
}
@media screen and (min-width:0px) and (max-width:530px) { 
    .footer-right-side .search-form{
        margin:15px auto;
        width:260px;
    }
    .background_img .background_img_content h2{
        font-size: 30px;
    }
}
@media screen and (min-width:850px) and (max-width:1235px) { 
    .hero img{
        width: 500px;
    }
    .hero .hero-rightSide h3{
        font-size: 28px;
    }
    .hero .hero-rightSide p{
        font-size: 11.11px;
    }
}
@media screen and (min-width:688px) and (max-width:850px) { 
    .hero img{
        width: 400px;
    }
    .hero .hero-rightSide h3{
        font-size: 28px;
    }
    .hero .hero-rightSide p{
        font-size: 11.11px;
    }
}
@media screen and (min-width:320px) and (max-width:688px) { 
    .hero .row{
        flex-direction: column;
        align-items: center;
    }
    .hero .hero-rightSide .hero-rightSide-info{
        align-items: center;
        text-align: center;
    }
    .hero img{
        width: 300px;
        padding-top: 20px;
    }
    .hero .hero-rightSide h3{
        font-size: 22px;
    }
}
@media screen and (min-width:315px) and (max-width:355px) { 
    .hero img{
        width: 250px;
        padding-top: 20px;
    }
}
